
.center {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

* {

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;

}

body {
  background-image: linear-gradient(to right, #0B0C10, #1F2833);
  font:20px georgia, serif;
}

a.frontenddeveloper:hover {
  color: #ff0000;
}

a.innovator:hover {
  color: #3AED1F;
}

a.producer:hover {
  color: #FECD46;
}

#profilepicture {
  animation: pulse 2s infinite;
}

#globetrot, #shelmet {
  animation: pulse 3s infinite;
}

.jumbotron {
  position: relative;
  overflow: hidden;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

.jumbotron-background {
  object-fit:fill;
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
  filter: blur(7px);
}

p {
  word-spacing: 8px;
}

#eric, #gomes, #web, #tech, #personal, #startup, #copyright {
  color: #66fcf1;
}

#work {
  background-image: linear-gradient(to right, #FEFEFE, #F7F7F7);
}

#development {
  background-image: linear-gradient(#FF0000, #FA8072);
}

#design {
background-image: linear-gradient(#3AED1F, #00FA9A);
}

#production {
  background-image: linear-gradient(#FECD46, #FFFACD);
}

.development, ul {
  text-align: center;
  color: #273043;
}

#globetrot {
  margin-left: 90px;
}

#shelmet {
  margin-right: 90px;
}

#iconlist {
  color: #66FCF1;
}


br {
  line-height: 10vh;
}

#chickenshopdate, #thrdistrict, #kustomseek, #globetrot, #shelmet, #mmu {
  border-radius: 25px;
}

#Globe ul, #Smarthelmet ul {
  color: #66fcf1;
  padding-bottom: 20px;
}
